@model ArticleModel

@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<div class="font-monospace text-center">
    Articles
</div>


<div class="container text-center">
    <form asp-controller="Article" asp-action="Create" method="post">
        <div class="flex-column">
            <div class="mb-3">
                <label asp-for="Id" class="form-label">Id</label>
                <input type="text" class="form-control text-center" asp-for="Id">
            </div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Title</label>
                <input type="text" class="form-control text-center" asp-for="Title">
            </div>


            <div class="mb-3">
                <label asp-for="Rating" class="form-label">Rating</label>
                <input type="number" class="form-control text-center" asp-for="Rating">
            </div>


            <div class="mb-3">
                <label asp-for="ArticleSourceId" class="form-label">Source Id</label>
                <input type="text" class="form-control text-center" asp-for="ArticleSourceId">
            </div>


            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Create" />
            </div>
            <button type="button" class="btn btn-outline-danger btn-sm">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Back</a>
            </button>
        </div>
    </form>
</div>
