@using ArticleAggregator.Models
@model DeleteModel

@{
    Layout = null;   
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<form asp-controller="Article" asp-action="Delete" method="post">  
    <div class="container text-center">
        <label class="form-label">
            Select item to delete
        </label>
        <select class="form-select" asp-items="Model.DeleteList" asp-for="Selected">
        </select>
        <div class="m-3 text-center">
            <input type="submit" class="btn btn-primary" value="Delete" />
        </div>

        <button type="button" class="btn btn-outline-danger text-center btn-sm">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Back</a>
        </button>
    </div>
</form>