@model SourceModel

@{
    Layout = null;
}

<div class="font-monospace text-center">
    Sources
</div>

<div class="container text-center">
    <form asp-controller="Source" asp-action="Create" method="post">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <label asp-for="Id" class="form-label">Id</label>
                <input type="text" class="form-control" asp-for="Id">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label asp-for="Name" class="form-label">Name</label>
                <input type="text" class="form-control" asp-for="Name">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <label asp-for="Url" class="form-label">Url</label>
                <input type="text" class="form-control" asp-for="Url">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <input type="submit" class="btn btn-primary" value="Create" />
            </div>
        </div>
    </form>
</div>
