@model List<SourceModel>


@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<div class="font-monospace text-center">
    Clients
    <div class="m-2">
        <div class="btn-group text-center" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-primary">
                <a class="nav-link text-dark" asp-area="" asp-controller="Source" asp-action="Create">Create</a>
            </button>
            <button type="button" class="btn btn-outline-primary">
                <a class="nav-link text-dark" asp-area="" asp-controller="Source" asp-action="Update">Update</a>
            </button>
            <button type="button" class="btn btn-outline-primary">
                <a class="nav-link text-dark" asp-area="" asp-controller="Source" asp-action="Delete">Delete</a>
            </button>
            <button type="button" class="btn btn-outline-danger">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Back</a>
            </button>
        </div>
    </div>
</div>

<div>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <div>
                    @item.Name
                    @item.Url
                    <span>. Id - @item.Id</span>
                </div>
            </li>
        }
    </ul>
</div>